
.vs/LIbraryAPI/FileContentIndex/11e36a86-9a1c-4c21-b980-1e33421ced2f.vsidx
.vs/LIbraryAPI/FileContentIndex/6884bd17-c631-4943-a2f0-09f101c9405e.vsidx
.vs/LIbraryAPI/FileContentIndex/922a80af-82d6-4b00-8bf4-bccd71dab7c6.vsidx
.vs/LIbraryAPI/FileContentIndex/9e46dd9f-fa53-4c66-ab7b-a60ae8d91b51.vsidx
.vs/LIbraryAPI/FileContentIndex/cc7f2419-7e3a-4b4e-89f3-ea53eb9c7013.vsidx
*.vsidx
.vs/LIbraryAPI/v17/.suo
.vs/LIbraryAPI/DesignTimeBuild/.dtbcache.v2
.vs/LIbraryAPI/v17/.futdcache.v2
.vs/LIbraryAPI/v17/.suo
.vs/LIbraryAPI/v17/DocumentLayout.json
.vs/ProjectEvaluation/libraryapi.metadata.v8.bin
.vs/ProjectEvaluation/libraryapi.projects.v8.bin
.vs/ProjectEvaluation/libraryapi.strings.v8.bin
LIbraryAPI/bin/Debug/net8.0/LIbraryAPI.dll
LIbraryAPI/bin/Debug/net8.0/LIbraryAPI.exe
*.pdb
*.exe
*.dll
.vs/LIbraryAPI/DesignTimeBuild/.dtbcache.v2
.vs/LIbraryAPI/v17/.futdcache.v2
.vs/LIbraryAPI/v17/.suo
.vs/LIbraryAPI/v17/DocumentLayout.json
.vs/ProjectEvaluation/libraryapi.metadata.v8.bin
.vs/ProjectEvaluation/libraryapi.projects.v8.bin
.vs/ProjectEvaluation/libraryapi.strings.v8.bin
LIbraryAPI/bin/Debug/net8.0/LIbraryAPI.dll
LIbraryAPI/bin/Debug/net8.0/LIbraryAPI.exe
LIbraryAPI/bin/Debug/net8.0/LIbraryAPI.pdb
LIbraryAPI/obj/Debug/net8.0/apphost.exe
LIbraryAPI/obj/Debug/net8.0/LIbraryAPI.AssemblyInfoInputs.cache
LIbraryAPI/obj/Debug/net8.0/LIbraryAPI.csproj.CoreCompileInputs.cache
LIbraryAPI/obj/Debug/net8.0/LIbraryAPI.dll
LIbraryAPI/obj/Debug/net8.0/LIbraryAPI.pdb
LIbraryAPI/obj/Debug/net8.0/LIbraryAPI.sourcelink.json
LIbraryAPI/obj/Debug/net8.0/ref/LIbraryAPI.dll
LIbraryAPI/obj/Debug/net8.0/refint/LIbraryAPI.dll
